<div class="container" style="max-width: 400px; margin: auto">
    <form autocomplete="off" #loginForm="ngForm">
        <div class="p-grid">

            <div class="p-col-12" style="text-align: center">
                <h1>Acesse sua conta</h1>
            </div>

            <div class="p-fluid p-col-12">
                <input type="email" pInputText
                       placeholder="E-mail"
                       name="email"
                       #email="ngModel"
                       [(ngModel)]="seguranca.email" required minlength="5">

                <app-message [control]="email" error="required"
                             text="Informe o email"></app-message>
            </div>

            <div class="p-fluid p-col-12">
                <input type="password" pInputText
                       placeholder="Senha"
                       name="senha"
                       #senha="ngModel"
                       [(ngModel)]="seguranca.senha" required minlength="5">

                <app-message [control]="senha" error="required"
                             text="Informe a senha"></app-message>
            </div>

            <div class="p-fluid p-col-12">
                <button pButton type="submit"
                        label="Entrar"
                        [disabled]="loginForm.invalid"
                        (click)="login(seguranca)">
                </button>

            </div>
        </div>
    </form>
</div>
