<div class="container">
    <form autocomplete="off" #categoriaForm="ngForm" (ngSubmit)="salvar(categoriaForm)">

        <div class="p-grid">

            <div class="p-col-12">
                <h1>{{ editando ? 'Editar ' : 'Nova '}}  Categoria</h1>
            </div>

            <div class="p-fluid p-col-12">
                <label>Nome</label>
                <input type="text" pInputText
                       name="nome"
                       #nome="ngModel"
                       [(ngModel)]="categoria.nome" required minlength="5">

                <app-message [control]="nome" error="required"
                             text="Informe o nome"></app-message>
                <app-message [control]="nome" error="minlength"
                             text="Mínimo de {{ nome.errors?.['minlength']?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="p-col-12">
                <button pButton type="submit"
                        label="Salvar" [disabled]="categoriaForm.invalid"></button>
                <button pButton type="button"
                        label="Novo"
                        class="p-button-info"
                        (click)="novo(categoriaForm)"></button>
                <a routerLink="/categorias">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
