<div class="container">
    <form>

        <div class="p-grid">
            <div class="p-col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="p-fluid p-col-6 p-md-3">
                <label>Vencimento</label>
                <input pInputText type="text">
            </div>

            <div class="p-fluid p-col-6 p-md-3">
                <label>Recebimento</label>
                <input pInputText type="text">
            </div>

            <div class="p-fluid p-col-12 p-md-9">
                <label>Descrição</label>
                <input pInputText type="text">
            </div>

            <div class="p-fluid p-col-12 p-md-3">
                <label>Valor</label>
                <input pInputText type="text" placeholder="0,00">
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Categoria</label>
                <input pInputText type="text">
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Pessoa</label>
                <input pInputText type="text">
            </div>

            <div class="p-fluid p-col-12">
                <label>Observação</label>
                <textarea pInputTextarea rows="3"></textarea>
            </div>

            <div class="p-col-12">
                <button pButton type="submit" label="Salvar" disabled></button>
                <button pButton type="submit" label="Novo" class="p-button-info"></button>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
