<div class="container">
    <form>

        <div class="p-grid">
            <div class="p-col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="p-col-12">
                <p-selectButton [options]="tipos" #tipo>
                </p-selectButton>
            </div>

            <div class="p-fluid p-col-6 p-md-3">
                <label>Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy"
                            [inline]="false"
                            [readonlyInput]="false"
                            [showIcon]="false">
                </p-calendar>
            </div>

            <div class="p-fluid p-col-6 p-md-3">
                <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
                <p-calendar dateFormat="dd/mm/yy">
                </p-calendar>
            </div>

            <div class="p-fluid p-col-12 p-md-9">
                <label>Descrição</label>
                <input pInputText
                       type="text"
                       name="descricao" ngModel #descricao="ngModel"
                       required minlength="5">

                <p-message *ngIf="descricao.hasError('required') && descricao.dirty" severity="error"
                           text="Informe uma descrição">
                </p-message>

                <p-message *ngIf="descricao.hasError('minlength') && descricao.dirty" severity="error"
                           text="Mínimo de {{ descricao.errors?.['minlength'].requiredLength }} caracteres.>
                </p-message>

            </div>

            <div class="p-fluid p-col-12 p-md-3">
                <label>Valor</label>
                <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" placeholder="0,00"></p-inputNumber>
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Categoria</label>
                <p-dropdown [options]="categorias"
                            placeholder="Selecione uma categoria">
                </p-dropdown>
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Pessoa</label>
                <p-dropdown [options]="pessoas"
                            placeholder="Selecione uma pessoa"
                            [filter]="true">
                </p-dropdown>
            </div>

            <div class="p-fluid p-col-12">
                <label>Observação</label>
                <textarea pInputTextarea rows="3"></textarea>
            </div>

            <div class="p-col-12">
                <button pButton type="submit" label="Salvar" disabled></button>
                <button pButton type="button" label="Novo" class="p-button-info"></button>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
