<div class="container">
    <form autocomplete="off">

        <div class="p-grid">

            <div class="p-col-12">
                <h1>Nova Pessoa</h1>
            </div>

            <div class="p-fluid p-col-12">
                <label>Nome</label>
                <input type="text" pInputText>
            </div>

            <div class="p-fluid p-col-12 p-md-9">
                <label>Logradouro</label>
                <input type="text" pInputText>
            </div>

            <div class="p-fluid p-col-12 p-md-3">
                <label>Número</label>
                <input type="text" pInputText>
            </div>

            <div class="p-fluid p-col-12 p-md-4">
                <label>Complemento</label>
                <input type="text" pInputText>
            </div>

            <div class="p-fluid p-col-12 p-md-4">
                <label>Bairro</label>
                <input type="text" pInputText>
            </div>

            <div class="p-fluid p-col-12 p-md-4">
                <label>Cep</label>
                <p-inputMask mask="99.999-999" placeholder="Ex: 99.999-999"></p-inputMask>
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Cidade</label>
                <input type="text" pInputText>
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Estado</label>
                <input type="text" pInputText>
            </div>

            <div class="p-col-12">
                <button pButton type="submit" label="Salvar" disabled></button>
                <button pButton type="button" label="Novo" class="p-button-info"></button>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>

        </div>
    </form>
</div>
