<div class="container">
    <form autocomplete="off" #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">

        <div class="p-grid">

            <div class="p-col-12">
                <h1>{{ editando ? 'Editar ' : 'Nova '}}  Pessoa</h1>
            </div>

            <div class="p-fluid p-col-12">
                <label>Nome</label>
                <input type="text" pInputText
                       name="nome"
                       #nome="ngModel"
                       [(ngModel)]="pessoa.nome" required minlength="5">

                <app-message [control]="nome" error="required"
                             text="Informe o nome"></app-message>
                <app-message [control]="nome" error="minlength"
                             text="Mínimo de {{ nome.errors?.['minlength']?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="p-fluid p-col-12 p-md-9">
                <label>Logradouro</label>
                <input type="text" pInputText
                       name="logradouro"
                       #logradouro="ngModel"
                       [(ngModel)]="pessoa.endereco.logradouro" required>

                <app-message [control]="logradouro" error="required"
                             text="Informe o logradouro"></app-message>
            </div>

            <div class="p-fluid p-col-12 p-md-3">
                <label>Número</label>
                <input type="text" pInputText
                       name="numero"
                       #numero="ngModel"
                       [(ngModel)]="pessoa.endereco.numero" required>

                <app-message [control]="numero" error="required"
                             text="Informe o número"></app-message>
            </div>

            <div class="p-fluid p-col-12 p-md-4">
                <label>Complemento</label>
                <input type="text" pInputText
                       name="complemento"
                       #complemento="ngModel"
                       [(ngModel)]="pessoa.endereco.complemento">
            </div>

            <div class="p-fluid p-col-12 p-md-4">
                <label>Bairro</label>
                <input type="text" pInputText
                       name="bairro"
                       #bairro="ngModel"
                       [(ngModel)]="pessoa.endereco.bairro" required>

                <app-message [control]="bairro" error="required"
                             text="Informe o bairro"></app-message>
            </div>

            <div class="p-fluid p-col-12 p-md-4">
                <label>Cep</label>
                <p-inputMask mask="99.999-999"
                             placeholder="Ex: 99.999-999"
                             name="cep"
                             #cep="ngModel"
                             [required]="true"
                             [(ngModel)]="pessoa.endereco.cep"></p-inputMask>

                <app-message [control]="cep" error="required"
                             text="Informe o CEP"></app-message>
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Cidade</label>
                <input type="text" pInputText
                       name="cidade"
                       #cidade="ngModel"
                       [(ngModel)]="pessoa.endereco.cidade" required>

                <app-message [control]="cidade" error="required"
                             text="Informe a cidade"></app-message>
            </div>

            <div class="p-fluid p-col-12 p-md-6">
                <label>Estado</label>
                <input type="text" pInputText
                       name="estado"
                       #estado="ngModel"
                       [(ngModel)]="pessoa.endereco.estado" required>

                <app-message [control]="estado" error="required"
                             text="Informe o estado"></app-message>
            </div>

            <div class="p-col-12">
                <p-panel header="Contatos">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <button pButton pRipple label="Novo" icon="pi pi-plus" type="button"
                                    class="p-button-outlined p-button-secondary" (click)="prepararNovoContato()"
                                    pTooltip="Novo Contato" tooltipPosition="top">
                            </button>
                        </div>
                        <div class="p-col-12">
                            <p-table [value]="pessoa.contatos" [responsive]="true">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Telefone</th>
                                        <th col-acoes-header>Ações</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ contato.nome }}</td>
                                        <td>{{ contato.email }}</td>
                                        <td>{{ contato.telefone }}</td>
                                        <td class="col-acoes">
                                            <button pButton icon="pi pi-pencil" type="button"
                                                    pTooltip="Editar" tooltipPosition="top"
                                                    (click)="prepararEdicaoContato(contato, rowIndex)"></button>

                                            <button pButton icon="pi pi-trash" type="button"
                                                    pTooltip="Excluir" tooltipPosition="top"
                                                    (click)="removerContato(rowIndex)"></button>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">
                                            Nenhum contato cadastrado
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-panel>
            </div>

            <div class="p-col-12">
                <button pButton type="submit"
                        label="Salvar" [disabled]="pessoaForm.invalid"></button>
                <button pButton type="button"
                        label="Novo"
                        class="p-button-info"
                        (click)="novo(pessoaForm)"></button>
                <a routerLink="/pessoas">Voltar para a pesquisa</a>
            </div>

        </div>
    </form>
</div>

<p-dialog header="Novo Contato" [(visible)]="exbindoFormularioContato" [modal]="true" *ngIf="contato">
    <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
        <div class="p-col-12 p-fluid">
            <label>Nome</label>

            <input pInputText type="text" name="nome"
                   required [(ngModel)]="contato.nome" #contatoNome="ngModel"/>

            <app-message [control]="contatoNome.control" error="required" text="Informe o nome"></app-message>
        </div>

        <div class="p-col-12 p-fluid">
            <label>E-mail</label>

            <input pInputText type="email" name="email"
                   required email [(ngModel)]="contato.email" #contatoEmail="ngModel"/>

            <app-message [control]="contatoEmail.control" error="required" text="Informe o email"></app-message>
            <app-message [control]="contatoEmail.control" error="email" text="Informe um e-mail válido"></app-message>
        </div>

        <div class="p-col-12 p-fluid">
            <label>Telefone</label>

            <p-inputMask name="telefone" [(ngModel)]="contato.telefone"
                         mask="(99) 99999-999?9"></p-inputMask>
        </div>

        <div class="p-col-12">
            <button pButton type="submit" label="Confirmar" [disabled]="frmContato.invalid"></button>
        </div>
    </form>
</p-dialog>
